@font-face {
    font-family: 'FPSFont';
    src: url('../Graphics/Fonts/dpcomic.ttf') format('truetype');
}


.blog-container.FPS.game.Blog {
    background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("../Graphics/Background/BrickTexture1.png");
    background-repeat: repeat;
    background-size: 10% auto;
    image-rendering: pixelated;
    color: white; /* global default */
    font-family: 'FPSFont', sans-serif;
}
