@font-face {
    font-family: 'WarpedHorizonsFont';
    src: url('../Graphics/Fonts/square_pixel-7.ttf') format('truetype');
}


.blog-container.WarpedHorizonsBlog {
    background-color: black;
    background-image: url("../Graphics/Background/StarField1.png");
    background-repeat: repeat;
    background-size: 10% auto;
    image-rendering: pixelated;
    border-image: url("../Graphics/Background/StarField1.png");
    color: green; /* global default */
    font-family: 'WarpedHorizonsFont', sans-serif;
}